@using WebsiteNhaHang.Models
@model List<GioHang>
@{
    int i = 0;
    string a=null;
}

<div class="modal fade bd-example-modal-lg-9-m" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Giỏ hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pre-scrollable">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Hình ảnh</th>
                                <th>Loại</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th style="width:15%">Số lượng</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                if (@item.iLoaiDat == 1)
                                {
                                    a = "Món ăn";
                                }
                                if (@item.iLoaiDat == 2) { a = "Gói Combo"; }
                                <tr>
                                    <td>@i</td>
                                    <td><img class="card-img-top" src="@Url.Content("~/Content/img/MonAn/" + item.sHinhAnh)" style="max-width: 10rem;" alt="Card image cap" /></td>
                                    <td>@a</td>
                                    <td>@item.sTenSp</td>                                    
                                    <td>@string.Format("{0:0,0}", @item.dDonGia) VND</td>
                                    <td>                                        
                                        <input type="number" class="txtSoLuong" data-id="@item.iMaSP" data-loai="@item.iLoaiDat" value="@item.iSoLuong" min="1" max="15">
                                        <button class="btn btn-secondary mt-1 txtCapNhap text-left"style="width:90%">Cập Nhập</button>                                            
                                    </td>                                        
                                    <td>@string.Format("{0:0,0}", @item.dThanhTien) VND</td>
                                    <td>
                                        <button type="button" class="txtXoa" data-id="@item.iMaSP" data-loai="@item.iLoaiDat" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <p>Tổng tiền thanh toán: @string.Format("{0:0,0}", @ViewBag.TongTien) VND</p>
            </div>
            <div class="modal-footer">
                <p>Hiện có @i loại được chọn</p>
                @*@Html.ActionLink("Xóa Giỏ Hàng", "XoaGioHang2", "DatBan",new { @class = "btn btn-primary btn-lg", @role = "button",@style="width=3%"})*@
                
                @*<button class="btn btn-secondary" id="txtCapNhap">Cập Nhập</button>*@
                <button type="button" id="btnXoa" class="btn btn-secondary">Xóa Giỏ Hàng</button>
                <button type="button" class="btn btn-primary">Đặt Bàn</button>
            </div>
        </div>
    </div>

</div>  

<script type="text/javascript">
     
    $(document).ready(function () {
        
        $('.txtCapNhap').click(function () {
            var soLuong = $('.txtSoLuong').val();
            var maSP=$('.txtSoLuong').data('id');
            var loaiDat=$('.txtSoLuong').data('loai');
            $.ajax({
                
                type: 'POST',
                dataType: 'json',
                //data: { gioHang: JSON.stringify(duLieu) },
                data:{
                    iSoLuong:soLuong ,
                    iMaSP:maSP ,
                    iLoaiDat: loaiDat
                },
                url: '/DatBan/CapNhapSoLuong',
                success: function (res) {
                    if (res.status == true) {
                        alert("Sửa thành công!")
                        window.location.href = $(location).attr('href');
                    }                    
                },
                //error: function() {
                //    alert("Loi");
                //}
            })
            });
        $('#btnXoa').off('click').on('click', function () {
            $.ajax({
                url: '/DatBan/XoaTatCa',
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res.status == true) {
                        alert("Xóa thành công!")
                        window.location.href = $(location).attr('href');
                    }
                }
            })
        });
        $('.txtXoa').click(function () {
            var maSP = $('.txtXoa').data('id');
            var loai = $('.txtXoa').data('loai')
            $.ajax({

                type: 'POST',
                dataType: 'json',
                //data: { gioHang: JSON.stringify(duLieu) },
                data: {
                    iMaSP: maSP,
                    iLoaiDat:loai,
                },
                url: '/DatBan/XoaGioHang',
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = $(location).attr('href');
                    }
                },
                //error: function() {
                //    alert("Loi");
                //}
            })
        });

        
    });
</script>