@using WebsiteNhaHang.Models
@model List<GioHang>
@{
    int i = 0;
    string a=null;
    var b = DateTime.Now;
}
<link href="~/Content/datetime/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Content/datetime/jquery.js"></script>
<script src="~/Content/datetime/build/jquery.datetimepicker.full.js"></script>
<div class="modal fade bd-example-modal-lg-9-m" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Giỏ hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pre-scrollable">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Hình ảnh</th>
                                <th>Loại</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th style="width:15%">Số lượng</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                if (@item.iLoaiDat == 1)
                                {
                                    a = "Món ăn";
                                }
                                if (@item.iLoaiDat == 2) { a = "Gói Combo"; }
                                <tr>
                                    <td>@i</td>
                                    <td><img class="card-img-top" src="@Url.Content("~/Content/img/MonAn/" + item.sHinhAnh)" style="max-width: 10rem;" alt="Card image cap" /></td>
                                    <td>@a</td>
                                    <td>@item.sTenSp</td>                                    
                                    <td>@string.Format("{0:0,0}", @item.dDonGia) VND</td>
                                    <td>                                        
                                        <input type="number" class="txtSoLuong rounded text-center" data-id="@item.iMaSP" data-loai="@item.iLoaiDat" value="@item.iSoLuong" min="1" max="15" />
                                        <button class="txtCapNhap btn btn-light mt-1 text-left"style="width:90%">Cập Nhập</button>                                            
                                    </td>                                        
                                    <td>@string.Format("{0:0,0}", @item.dThanhTien) VND</td>
                                    <td>
                                        <button type="button" class="txtXoa close" data-id="@item.iMaSP" data-loai="@item.iLoaiDat" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="modal-footer row">
                <div class="mr-auto col-lg-7">
                    
                    <div class="col-sm-5 float-left">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Số người</span>
                            <input type="number" class="form-control" min="1" max="20" value="1" data-toggle="tooltip" data-placement="right" title="Số người tham gia." />
                        </div>
                    </div>
                    <div class="col-sm-7 float-left">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Ngày đến</span>
                            <input type="text" class="form-control" id="datetimepicker" data-toggle="tooltip" data-placement="right" title="Đặt ít nhất trước 3 tiếng, từ 11h30 đến 14h và 17h đến 23h hằng ngày." />
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-4">
                    <button type="button" id="btnXoa" class="btn btn-secondary">Xóa Giỏ Hàng</button>
                    <button type="button" class="btn btn-primary" >Đặt Bàn</button>                    
                </div>
                <div class="mr-auto mt-3 ml-4">
                    <h5>Tổng tiền: @string.Format("{0:0,0}", @ViewBag.TongTien) <span class="text-danger">VND</span></h5>
                </div>
                
            </div>
        </div>
    </div>

</div>  
<script>
            var tomorrow = new Date();
            tomorrow.setHours(tomorrow.getHours() + 3);
            $('#datetimepicker').datetimepicker({
                dayOfWeekStart: 1,
                format: 'd/m/y H:i',
                lang: 'en',
                //enabledHours: [14, 15, 16, 17, 18],
                minDate: tomorrow,
                step: 10,
            });
</script>


