
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nhà hàng Ganeya Nhật Bản">
    <meta name="keywords" content="Những món ăn Nhật ngon nhất">
    <meta name="author" content="Internship CongNV">

    <title>GANEYA Nhật Bản</title>

    <!-- Bootstrap core CSS -->
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/business-casual.css" rel="stylesheet">

    <style>
        #DangXuat {
            display: none;
        }
    </style>
    @if (Session["EmailDangNhap"] != null)
    {
        <style>
            #DangNhap {
                display: none;
            }
            #DangXuat {
                display: block;
            }
        </style>
    }


</head>

<body>

    @Html.Action("ThongTinNhaHang1", "GioiThieu")
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Ganeya Nhật Bản</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/TrangChu/Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/GioiThieu/KhongGianNhaHang">Giới Thiệu</a>
                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/ThucDon/ThucDon">Thực Đơn</a>
                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/Combo/GoiCombo">Gói Combo <span class="badge badge-secondary">@Html.Action("DemCombo","Combo")</span></a>

                </li>

                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/KhuyenMaiSuKien/KhuyenMai">Khuyến Mãi - Sự Kiện <span class="badge badge-secondary">@Html.Action("DemSuKien_KhuyenMai", "KhuyenMaiSuKien")</span></a>
                </li>
                <li class="nav-item px-lg-3">
                    <a class="nav-link text-uppercase text-expanded" href="~/TuyenDung/TuyenDung">Tuyển Dụng <span class="badge badge-secondary">@Html.Action("DemTuyenDung", "TuyenDung")</span></a>
                </li>
                <li class="nav-item px-lg-3">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div id="DangNhap">
                                <a class="dropdown-item" style="font-family: 'Roboto Condensed', sans-serif" href="@Url.Action("DangNhap", "TaiKhoan")">Đăng Nhập</a>
                                <a class="dropdown-item" style="font-family: 'Roboto Condensed', sans-serif" href="@Url.Action("DangKy", "TaiKhoan")">Đăng Ký Thành Viên</a>
                            </div>
                            <div id="DangXuat">
                                <p class="dropdown-item" style="font-family: 'Roboto Condensed', sans-serif">@Session["EmailDangNhap"]</p>
                                <a class="dropdown-item" style="font-family: 'Roboto Condensed', sans-serif" href="@Url.Action("TaiKhoanChiTiet","TaiKhoan")">Quản lý tài khoản</a>
                                <p class="dropdown-item" style="font-family: 'Roboto Condensed', sans-serif">@Html.ActionLink("Đăng Xuất","DangXuat","TaiKhoan")</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">


        <div class="row">
            <!--Đăng Nhập-->
            @*<div class="modal fade bd-example-modal-lg-0 float-right" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title ml-5">Đăng Nhập</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-width: 300px">
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" name="txtEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email của bạn">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mật Khẩu</label>
                                <input type="password" name="passMatKhau" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu của bạn!!">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    Nhớ tài khoản
                                </label>
                                <p><a href="#">Đăng ký nếu bạn chưa có tài khoản.</a></p>
                            </div>
                            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- Giỏ hàng -->
            <div style="position: fixed; top: 15%; right: 0.5%; z-index: 2" id="GioHang1">

                <img src="~/Content/img/icon_256.png" data-toggle="modal" data-target=".bd-example-modal-lg-9-m" style="max-width: 40px; max-height: 40px" /> <span class="badge badge-secondary">@Html.Action("tongSoLuong", "DatBan")</span>
            </div>
            
            @Html.Action("GioHang", "DatBan")
        </div>


        <div class="bg-faded p-4 my-4" id="nivoSlider">
            <!-- Image Carousel -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div style="max-height:32rem; height: auto">
                            <img class="d-block img-fluid w-100" src="~/Content/img/slide-1.jpg" style="height: 80%" alt="">
                        </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-shadow">First Slide</h3>
                                <p>This is the caption for the first slide.</p>
                            </div>
                        </div>
                    @Html.Action("AnhGioiThieu","KhuyenMaiSuKien")
                    @Html.Action("AnhSuKien", "KhuyenMaiSuKien")
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Welcome Message -->
            <div class="text-center mt-4">
                <div class="text-heading text-muted text-lg">Welcome To</div>
                <h2 class="my-2">GANEYA Nhật Bản</h2>
                <div class="text-heading text-muted text-lg">
                    By <strong>Group 2</strong>
                </div>
            </div>
        </div>

        @RenderBody()



        <div>
            <div class="bg-faded p-4 my-4 " id="ThongTinNhaHang">
                @Html.Action("ThongTinNhaHang", "GioiThieu")
            </div>
            <div class="bg-faded p-4 my-4 " id="BinhLuan">
                @Html.Action("DangBinhLuan","BinhLuan")        
            </div>

        </div>
        <footer class="bg-faded text-center py-2">
            <div class="container">
                <p class="m-0">Copyright &copy; Thực tập nhóm 2</p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/popper/popper.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/scripts/giohang.js"></script>
        <script>
            function heartBeat() {
                $.get("DatBan/GioHang", function (data) { });
            }

            $(function () {
                setInterval("heartBeat()", 1000 * 100); // 100s gửi request một lần
            });
        </script>
    </div>

</body>

</html>
