@using WebsiteNhaHang.Models
@model List<GoiCombo>

@foreach (var item in Model)
{
    int i = 0;
    <div class="media col-md-4">
        <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090">
            <img class="card-img-top" src="@Url.Content("~/Content/img/MonAn/" + item.HinhAnh)" style="min-height: 225px" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">@item.TenComBo </h4>
                <p class="card-text">Giá món ăn: <b style="color: #FF4000">@string.Format("{0:0,0}", @item.Gia)</b> VND
                </p>
                <a href="#" class="btn btn-info">Đặt Combo</a>
                <button style="font-family: 'Roboto Condensed', sans-serif" class="btn btn-info float-right mr-3" data-toggle="modal" data-target=".bd-example-modal-lg-@item.MaCombo">Xem Chi Tiết</button>

                <div class="modal fade bd-example-modal-lg-@item.MaCombo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">@item.TenComBo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pre-scrollable text-center" style="min-height: 450px">
                                <img src="@Url.Content("~/Content/img/MonAn/" + item.HinhAnh)" class="img-fluid" alt="Responsive image" style="width: 800px">
                                <hr/>
                                <h3 class="modal-title">Danh sách các món trong Combo</h3>
                                <table class="table">

                                    @foreach (var monAn in item.MonAns)
                                    {
                                        i++;
                                        <tr>

                                            <th >@i</th>
                                            <td><img class="rounded float-left" src="@Url.Content("~/Content/img/MonAn/" + monAn.HinhAnh)"style="max-width: 120px"></td>
                                            <th>@monAn.TenMon</th>
                                        </tr>
                                    }
                                </table>
                                <hr />                               
                                <p class="text-left">Số lần được đặt: @item.SoLanDat</p>                                
                            </div>
                            <div class="card-footer text-muted" style="max-height: 60px">
                                <div class="float-left ml-3"><h5>
                                    Giá Combo: <b style="color: #FF4000">@string.Format("{0:0,0}", @item.Gia) </b> VND
                                </h5>
                                </div>
                                <div class="float-right">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    <button type="button" class="btn btn-primary">Đặt Combo</button>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

