@model TrangQuanLy.Models.DatBan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/Layout/Admins.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DatBan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThucHien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThucHien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNguoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNguoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KieuDatBan1.TenKieuDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KieuDatBan1.TenKieuDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDatBan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
