@model TrangQuanLy.Models.DatBan

@*@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Share/Layout/Admins.cshtml";
}*@



@*<div class="page-header position-relative">
        <h1>
            Sửa Thông Tin Đặt Bàn
            @*<small>
                    <i class="icon-double-angle-right"></i>
                    Common form elements and layouts
                </small>
        </h1>
    </div>*@
<!-- /.page-header -->
@*<div class="row-fluid">
    <div class="span12 form-horizontal">*@
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-actions">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaDatBan)
        <div class="control-group">
            @Html.LabelFor(model => model.NgayDatBan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="controls">
                <input type="datetime-local" id="datepicker" class="input-small hasDatepicker" data-data-format="dd-mm-yyyy" name="NgayDatBan">
                @*@Html.EditorFor(model => model.NgayDatBan, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.NgayDatBan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.MaKhachHang, "MaKhachHang", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="controls">
                @Html.DropDownList("MaKhachHang", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaKhachHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.NgayThucHien, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="controls">
                <input type="datetime-local" id="datepicker" class="input-small hasDatepicker" data-data-format="dd-mm-yyyy" name="NgayThucHien">
                @*@Html.EditorFor(model => model.NgayThucHien, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.NgayThucHien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.KieuDatBan, "KieuDatBan", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="controls">
                @Html.DropDownList("KieuDatBan", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KieuDatBan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.SoNguoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="controls">
                @Html.EditorFor(model => model.SoNguoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoNguoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="controls">
                @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-actions no-color">

            <div class="col-md-offset-2 col-md-10">
                <i class="icon-ok bigger-110"></i>
                <input type="submit" value="Lưu Lại" class="btn btn-default" />

            </div>

            <div>
                <i class="icon-undo bigger-110"></i>
                @Html.ActionLink("Quay Lại", "Index")

            </div><!-- /.row-fluid -->

        </div>
    </div>


                                             <!-- /.span -->
}

@*</div>
    </div>*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
