@model TrangQuanLyNhaHang.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/QuanLy/_QuanLy.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XacNhanMatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XacNhanMatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhoMatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhoMatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTaiKhoan1.TenLoaiTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTaiKhoan1.TenLoaiTaiKhoan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTaiKhoan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
