@model TrangQuanLyNhaHang.Models.TaiKhoan
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Share/DangNhap/_Login.cshtml";
}



                <div class="login-container">
                    <div class="row-fluid">
                        <div id="signup-box" class="signup-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header green lighter bigger">
                                        <i class="icon-group blue"></i>
                                        Dang Ky Tai Khoan
                                    </h4>

                                    <div class="space-6"></div>
                                    <p> Vui Long Ban Nhap Thong Tin: </p>

                                    @*<form>
                                        <fieldset>
                                            <label>
                                                <span class="block input-icon input-icon-right">
                                                    <input type="email" class="span12" placeholder="Email" />
                                                    <i class="icon-envelope"></i>
                                                </span>
                                            </label>

                                            <label>
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" class="span12" placeholder="Ten Dang Nhap" />
                                                    <i class="icon-user"></i>
                                                </span>
                                            </label>

                                            <label>
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" class="span12" placeholder="Mat Khau" />
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </label>

                                            <label>
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" class="span12" placeholder="Nhap Lai Mat Khau" />
                                                    <i class="icon-retweet"></i>
                                                </span>
                                            </label>

                                            <label>
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl">

                                                    <a href="#">Dong y dag Ky</a>
                                                </span>
                                            </label>

                                            <div class="space-24"></div>

                                            <div class="clearfix">
                                                <button type="reset" class="width-30 pull-left btn btn-small">
                                                    <i class="icon-refresh"></i>
                                                    Reset
                                                </button>

                                                <button onclick="return false;" class="width-65 pull-right btn btn-small btn-success">
                                                    Dang Nhap Vo Trang
                                                    <i class="icon-arrow-right icon-on-right"></i>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>*@
                                  @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                  {
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th colspan="3">
                                                Registration
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                Username
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.Email)
                                            </td>
                                            <td>
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Password
                                            </td>
                                            <td>
                                                @Html.PasswordFor(m => m.MatKhau)
                                            </td>
                                            <td>
                                                @Html.ValidationMessageFor(m => m.MatKhau, "", new {@class = "error"})
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Dia Chi
                                            </td>
                                            <td>
                                                @Html.PasswordFor(m => m.DiaChi)
                                            </td>
                                            <td>
                                                @Html.ValidationMessageFor(m => m.DiaChi, "", new {@class = "error"})
                                            </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                    SoDienThoai
                                                </td>
                                                <td>
                                                    @Html.PasswordFor(m => m.SoDienThoai)
                                                </td>
                                                <td>
                                                    @Html.ValidationMessageFor(m => m.SoDienThoai, "", new { @class = "error" })
                                                </td>
                                            </tr>
                                        <tr>
                                            <td>
                                                Confirm Password
                                            </td>
                                            <td>
                                                @Html.PasswordFor(m => m.XacNhanMatKhau)
                                            </td>
                                            <td>
                                                @Html.ValidationMessageFor(m => m.XacNhanMatKhau, "", new { @class = "error" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Hinh Anh
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.HinhAnh)
                                            </td>
                                            <td>
                                                @Html.ValidationMessageFor(m => m.HinhAnh, "", new { @class = "error" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="submit" value="Submit" />
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                  }
                                </div>

                                <div class="toolbar center">
                                    <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                                        <i class="icon-arrow-left"></i>
                                        Quay Lai Dang Nhap
                                    </a>
                                </div>
                            </div><!-- /widget-body -->
                        </div>
                    </div>
                </div>
         @section Scripts{
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval@*")*@
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")});
        </script>
    }
        }