@model TrangQuanLyNhaHang.Models.TaiKhoan

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/DangNhap/_Login.cshtml";
}

<div class="AdminLogin">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <h1 style="text-align: center; margin-bottom: 20px">Admin Login</h1>
            <div class="loginDetail">
                @Html.TextBoxFor(m => m.Email, new { @class = "dashinp", @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.Email)

                @Html.PasswordFor(m => m.MatKhau, new { @type = "password", @class = "dashinp", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.MatKhau)

                @*<label style="display: none;">@Html.RadioButton("UserType", 1, new { @checked = "checked", }) Admin</label>

                    <div class="forgot clearfix" style="display: none;">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "csscheck" })
                        <label for="RememberMe" class="csslabel fl">Keep Me Signed In</label>
                        <a class="fgt fr" href="/Account/ForgotPassword">Forgot Password?</a>
                    </div>*@
                @*<div class="forgot clearfix">
                        <input type="checkbox" name="RememberMe1" class="csscheck" id="c1" checked>
                        <label for="c1" class="csslabel">Remember me</label>
                        <a href="/Account/ForgotPassword" class="fgt fr">Forgot Password?</a>
                    </div>*@
                @*<input type="submit" value="Sign In" class="SignIn />*@
                <button type="submit" class="btn btn-primary">Đăng Nhập</button>
            </div>
    }
</div>



