@model TrangQuanLyNhaHang.Models.TaiKhoan

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Share/QuanLy/_QuanLy.cshtml";
}


@using (Html.BeginForm("login","Home",FormMethod.Post))
{
  @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email)</td>
            <td>@Html.ValidationMessageFor(a => a.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.MatKhau)</td>
            <td>@Html.PasswordFor(a => a.MatKhau)</td>
            <td>@Html.ValidationMessageFor(a => a.MatKhau)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login"/>
            </td>
        </tr>
    </table>

}

@section script
{
    
    <script>
        

    </script>
}
