@model TrangQuanLyNhaHang.Models.GoiCombo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Share/QuanLy/_QuanLy.cshtml";
}

<div class="form-horizontal">
    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                Xóa Goi ComBo
                
            </h1>
        </div><!-- /.page-header -->

        <div class="row-fluid">
            <div class="span12 form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TenComBo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenComBo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HinhAnh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HinhAnh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gia)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GioiThieu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GioiThieu)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SoLanDat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoLanDat)
                    </dd>

                </dl>
                @*@using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }*@
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">

                        <div class="col-md-offset-2 col-md-10">
                            <i class="icon-ok bigger-110"></i>
                            <input type="submit" value="Xóa" class="btn btn-default" />
                        </div>

                        <div>
                            <i class="icon-undo bigger-110"></i>
                            @Html.ActionLink("Quay Lại", "Index")
                        </div><!-- /.row-fluid -->

                    </div>

                }
            </div>
        </div>
    </div>
</div>