@model TrangQuanLyNhaHang.Models.GoiCombo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/QuanLy/_QuanLy.cshtml";
}

@*<h2>Details</h2>

<div>
    <h4>GoiCombo</h4>
    <hr />
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCombo }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<div class="form-horizontal">
    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                Xem Chi Tiet Goi Com Bo
                @*<small>
                        <i class="icon-double-angle-right"></i>
                        Common form elements and layouts
                    </small>*@
            </h1>
        </div><!-- /.page-header -->

        <div class="row-fluid">
            <div class="span12 form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TenComBo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenComBo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HinhAnh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HinhAnh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gia)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GioiThieu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GioiThieu)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SoLanDat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoLanDat)
                    </dd>

                </dl>
                
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">

                <div class="col-md-offset-2 col-md-10">
                    <i class="icon-ok bigger-110"></i>
                    @Html.ActionLink("Đến trang sửa món ăn", "Edit", new { id = Model.MaCombo })
                </div>

                <div>
                    <i class="icon-undo bigger-110"></i>
                    @Html.ActionLink("Quay Lại", "Index")
                </div><!-- /.row-fluid -->

            </div>

        }
        @*<div class="text-center">
                <div>
                    |

                </div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@
    </div>
</div>